:root {
    --white: #fff;
    --black: #000;
    --blue: #024e69;
    --blue-light: #179fcf;
    --grey: #7d7a7a;

    --primary-family: "Montserrat", sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: var(--primary-family);
    color: var(--white);
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1512px;
}

.header {
    position: relative;
    padding: 32px 150px 125px 106px;
    display: grid;
    grid-template-areas: 'top' 'content';
    grid-template-rows: auto 1fr;
    min-height: 650px;
    overflow: hidden;
}

.header__top {
    grid-area: top;
    display: grid;
    grid-template-columns: 90px 1fr 101px;
    align-items: center;
    gap: 66px;
}

.header__content {
    grid-area: content;
    display: grid;
    align-items: center;
}

.header__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 66px;
    justify-content: end;
    list-style: none;
}

.header__item {
    font-weight: 600;
    font-size: 24px;
    line-height: 400%;
    text-transform: uppercase;
}

.lang {
    padding: 6px 10px;
    display: grid;
    grid-template-columns: 41px auto;
    gap: 7px;
    align-items: center;
    border-radius: 7px;
    background: var(--white);
}

.lang__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);
}

.header__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 175%;
    text-transform: uppercase;
}

.header__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    padding: 67px 58px 200px;
    display: grid;
    gap: 75px;
}

.main__title {
    font-weight: 700;
    font-size: 65px;
    line-height: 148%;
    text-align: center;
    text-transform: uppercase;
    color: var( --blue);
}

.list {
    display: grid;
    grid-template-columns: 506px 1fr 418px;
    gap: 20px 35px;
}

.list__item {
    &:nth-child(2) {
        grid-column: 2 / span 2;
    }
    &:nth-child(3) {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
    &:nth-child(6) {
        grid-column: 1 / span 3;
    }
}

.list__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .logo__image {
    width: 120px;
    height: 123px;
}

.footer__lot {
    position: relative;
}

.footer__top {
    padding: 65px 44px;
    display: grid;
    gap: 117px;
    grid-template-columns: 205px auto auto minmax(250px, 400px);
    align-items: center;
}

.footer__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: grid;
    gap: 11px;
}

.info__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 159%;
}

.footer__list {
    display: grid;
    gap: 24px;
    list-style: none;
}

.footer__item {
    font-weight: 500;
    font-size: 20px;
}

.contact {
    display: grid;
    gap: 20px;
}

.contact__item {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 129%;
}

.contact__item-list {
    display: grid;
}

.footer__wrapper {
    display: grid;
    gap: 20px;
}

.social {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23px);
    gap: 16px;
}

.form {
    display: grid;
    gap: 16px;
}

.form__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
}

.form__wraper {
    display: grid;
    gap: 21px;
}

.form__input {
    padding: 15px 23px;
    width: 100%;
    height: 62px;
    border: none;
    box-shadow: none;
    font-family: var(--primary-family);
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    text-align: justify;
    color: #7d7a7a;
}

.form__btn {
    width: 100%;
    height: 63px;
    border: none;
    box-shadow: none;
    border-radius: 17px;
    background: var(--blue-light);
    cursor: pointer;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    color: var(--white);
}

.copyright {
    padding: 10px 10px 15px;
    display: grid;
    justify-content: center;
    background: var(--blue-light);
}

@media (max-width: 1250px) {
    .header {
        padding: 32px 50px 125px;
    }
}

@media (max-width: 1199px) {
    .list {
        grid-template-columns: 418px 1fr 418px;
        gap: 20px;
    }

    .footer__top {
        gap: 24px;
    }

    .main {
        padding: 67px 24px 100px;
    }

    .header__item {
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
    .footer__top {
        grid-template-columns: repeat(2, 1fr);
    }

    .list {
        grid-template-columns: repeat(3, 1fr);
    }

    .header__top {
        gap: 40px;
    }

    .header__list {
        gap: 10px;
    }

    .header {
        padding: 20px 20px 125px;
    }

    .main__title {
        font-size: 50px;
    }

    .main {
        padding: 40px 24px 40px;
        gap: 24px;
    }
}

@media (max-width: 767px) {
    .list {
        grid-template-columns: 1fr;
    }

    .list__item {
        grid-column: unset !important;
    }

    .footer__top {
        padding: 30px;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .main__title {
        font-size: 38px;
    }

    .header__list {
        display: none;
    }

    .header {
        min-height: 420px;
    }
}